body {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(40, 40, 40, 0.9);
}
.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  background-color: rgb(41, 150, 41);
  max-width: 600px;
  max-height: 600px;
  border-radius: 20px;
  box-shadow: 3px 2px 10px 5px rgba(0, 0, 0, 0.29);
  position: relative;
}
.container img {
  width: 50%;
  margin-top: 50px;
}
.container h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  border-bottom: 3px solid rgb(40, 40, 40);
}
.container p {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 5px;
}

.btn {
  margin-top: 50px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  background-color: rgb(40, 40, 40);
  color: #fff;
}
.btn:hover {
  background-color: rgba(40, 40, 40, 0.7);
}

.borda-animada {
  animation: slidein 1s linear forwards;
  border-bottom: 3px solid rgb(40, 40, 40);
}

@keyframes slidein {
  from {
    left: 30%;
    width: 0%;
  }

  to {
    left: 30%;
    width: 40%;
  }
}
